---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog</h2>
  <p><em>Created as a play site on 17-Dec-2023</em></p>
  <Greeting client:load messages={ ["Kia ora","Hi","Gidday","Yo","Sup","Hey ya"] } />
</BaseLayout>